@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Londrina+Shadow&family=Rubik+Mono+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sx-react-calendar-wrapper {
    width: 100%;  
    max-width: 100vw;
    height: 800px;
    max-height: 90vh;
  }